---
import CommandBuilder from '../../components/CommandBuilder.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout
    title="Apex Launch options generator - LibreWarriors"
    backgroundImg="/img/north-pad-storm-point.jpg"
>
    <main>
        <section>
            <CommandBuilder builderKey="apex" />
        </section>
    </main>
</Layout>
