@mixin LWButton {
    color: var(--foreground);
    text-decoration: none;
    background-color: var(--accent);
    border-radius: var(--btnRadius);
    box-shadow: var(--shadow);
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    border: none;
    font-size: 1rem;
    &:hover,
    &:active {
        background-color: var(--accentDarker);
    }
}
