@use './card.scss' as *;

@mixin menuList {
    @include card;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    li {
        width: 100%;
        a {
            display: block;
            text-decoration: none;
            padding: 12px 12px;
            width: 100%;
            box-sizing: border-box;
            transition-property: color, background-color;
            transition-duration: 0.15s;
            transition-timing-function: ease-in-out;
            &:hover {
                color: var(--foreground);
                background-color: var(--accent);
            }
        }
    }
}
