$accent: #c1252c;
$accentDarker: #91090f;
$foreground: #deddda;
$background: #121213;
$transparentizedBg: transparentize($background, 0.25);
$highlightBackground: #131314;
$radius: 12px;
$shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$btnRadius: 6px;
$mobileWidth: 800px;
