---
import Gallery from '../../components/Gallery.astro'
import { pcGalleryData } from '../../data/pcGallery'
import Layout from '../../layouts/Layout.astro'
---

<Layout
    title="PC Gallery - LibreWarriors"
    backgroundImg="/img/north-pad-storm-point.jpg"
>
    <main>
        <h1>PCs Gallery</h1>
        <p>Showing off our computers</p>
        <Gallery galleryData={pcGalleryData} />
    </main>
</Layout>
