---
import Layout from '../layouts/Layout.astro'
import GameCard from '../components/GameCard.astro'
import MemberCard from '../components/MemberCard.astro'
import CardGrid from '../components/CardGrid.astro'
import { indexSections } from '../data/indexSections'
import Sidebar from '../components/Sidebar.astro'
import Markdown from '../components/Markdown.astro'
import { members } from '../data/members'
import { normalizeId } from '../utils/normalizeId'
---

<Layout
    title="LibreWarriors"
    backgroundImg="/img/north-pad-storm-point.jpg"
    withSidebar={true}
>
    <Sidebar
        links={indexSections.map((sec) => ({
            label: sec.title,
            url: `#${normalizeId(sec.title)}`,
        }))}
    >
        <main>
            <section class="centerBox" style="margin-top: 128px;">
                <img class="logo" src="/logo.svg" alt="LibreWarriors Logo" />
                <h1>LibreWarriors</h1>
                <h2>[LBRW]</h2>
            </section>
            {
                indexSections.map((sec) => (
                    <section id={normalizeId(sec.title)}>
                        <h2>{sec.title}</h2>
                        <Markdown text={sec.description} />
                        <CardGrid>
                            {sec.cards.map((card) => (
                                <GameCard {...card} />
                            ))}
                        </CardGrid>
                    </section>
                ))
            }
            <section>
                <h2>Members</h2>
                <p>Meet the team</p>
                <CardGrid>
                    {members.map((member) => <MemberCard {...member} />)}
                </CardGrid>
            </section>
        </main>
    </Sidebar>
</Layout>

<style lang="scss">
    @use '../styles/vars.scss' as *;
    .centerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1,
        h2 {
            text-shadow: var(--shadow);
        }
    }
    .logo {
        max-width: 256px;
        margin: 24px;
        filter: drop-shadow(var(--shadow));
    }
    h1 {
        font-size: 3rem;
        margin: 0;
    }
    section {
        padding-top: 60px;
    }
</style>
