---
export interface Props {
    background?: string
    align?: 'start' | 'end' | 'center'
    hoverZoom?: boolean
}

const { background, align = 'start', hoverZoom = false } = Astro.props

const color = 'var(--transparentized-bg)'
const glass = `backdrop-filter: blur(10px); background-color: ${color};`
function bg(image: string) {
    return `background-image: linear-gradient(to bottom, ${color}, ${color}), url('${image}');`
}

const alignment = `align-items: ${align};`

const style = [background ? bg(background) : glass, alignment].join(' ')

const cssClass = ['card', hoverZoom ? 'hoverZoom' : undefined]
    .filter((cssc) => !!cssc)
    .join(' ')
---

<div class={cssClass} {style}>
    <slot />
</div>

<style lang="scss">
    @use '../styles/card.scss' as *;
    .card {
        @include card;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 24px 32px;
        width: 100%;
        height: 100%;
        text-shadow: var(--shadow);
        &.hoverZoom {
            transition: transform 0.3s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
</style>
