---
import { BuilderKey, builders } from '../data/commandBuilders'
import BaseCard from './BaseCard.astro'
import Markdown from './Markdown.astro'
import { genUID } from '../utils/objectUID'

export interface Props {
    builderKey: BuilderKey
}

const { builderKey } = Astro.props
const commandBuilder = builders[builderKey]
const uuid = genUID(commandBuilder)
---

<app-commandbuilder data-builder={builderKey}>
    <BaseCard>
        <h3>{commandBuilder.title}</h3>
        <Markdown text={commandBuilder.description} />
        {
            Object.entries(commandBuilder.inputData).map(([name, { type }]) => (
                <div class="inputWrapper">
                    {['string', 'number'].includes(type) && (
                        <>
                            <label for={`${uuid}-${name}`}>{name}</label>
                            <input
                                id={`${uuid}-${name}`}
                                class={`builderParam-${name}`}
                                type={type === 'string' ? 'text' : 'number'}
                            />
                        </>
                    )}
                    {type === 'boolean' && (
                        <label class="toggleLabel" for={`${uuid}-${name}`}>
                            <span class="properLabel">{name}</span>
                            <input
                                id={`${uuid}-${name}`}
                                class={`builderParam-${name}`}
                                type="checkbox"
                            />
                            <div class="toggleRepr" />
                        </label>
                    )}
                </div>
            ))
        }
        <button class="genBtn">Generate</button>
        <pre class="resultContainer"></pre>
    </BaseCard>
    <div class="notif">
        <span>Text copied to clipboard</span>
    </div>
</app-commandbuilder>

<style lang="scss">
    @use '../styles/button.scss' as *;
    .inputWrapper {
        margin: 6px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--foreground);
        &:last-of-type {
            border-bottom: none;
        }
        label {
            flex-grow: 1;
            display: block;
        }
        .toggleLabel {
            display: flex !important;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 6px;
            width: 100%;
            input[type='checkbox'] {
                display: none;
            }
            .properLabel {
                flex-grow: 1;
            }
            .toggleRepr {
                border-radius: 12px;
                border: 1px solid var(--foreground);
                background-color: var(--highlightBackground);
                width: 48px;
                height: 24px;
                transition-property: background-color;
                &,
                &::before {
                    transition-duration: 0.15s;
                    transition-timing-function: ease-in-out;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin: 2px;
                    border-radius: 100%;
                    background-color: var(--foreground);
                    transition-property: margin;
                }
            }
            input[type='checkbox']:checked + .toggleRepr {
                background-color: var(--accent);
                &::before {
                    margin: 2px 2px 2px 26px;
                }
            }
        }
        input[type='number'],
        input[type='text'] {
            outline: none;
            border: 2px solid var(--foreground);
            background-color: var(--transparentized-bg);
            border-radius: var(--radius);
            color: var(--foreground);
            padding: 6px 18px;
            font-size: 1.1em;
            margin-left: 24px;
            &:focus,
            &:active {
                border: 2px solid var(--accent);
            }
        }
    }

    button {
        @include LWButton;
        margin: 24px 0;
        font-size: 1.2rem;
        padding: 12px 24px;
    }

    pre {
        padding: var(--radius);
        border: 1px solid var(--foreground);
        border-radius: var(--radius);
        min-height: 48px;
        background-color: var(--transparentized-bg);
        font-size: 1.1em;
        width: 100%;
        box-sizing: border-box;
        overflow-x: auto;
        cursor: pointer;
    }

    .notif {
        position: fixed;
        background-color: #77dd44;
        color: var(--background);
        padding: 24px;
        z-index: 9999;
        box-shadow: var(--shadow);
        border-radius: var(--radius);
        overflow: hidden;
        right: 48px;
        bottom: -100px;
        transition: bottom 0.3s ease-in-out;
        font-weight: bold;
        &.open {
            bottom: 48px;
        }
    }
</style>

<script>
    import type { BuilderKey } from '../data/commandBuilders'
    import { builders } from '../data/commandBuilders'
    import type { CommandBuilder } from '../types/commandBuilderParam'

    class CommandBuilderComp extends HTMLElement {
        private readonly genBtn: HTMLButtonElement
        private readonly resultCont: HTMLPreElement
        private readonly notif: HTMLDivElement
        private readonly commandBuilder: CommandBuilder

        constructor() {
            super()

            this.genBtn = this.getElementsByClassName(
                'genBtn'
            )[0] as HTMLButtonElement
            this.resultCont = this.getElementsByClassName(
                'resultContainer'
            )[0] as HTMLPreElement
            this.notif = this.getElementsByClassName(
                'notif'
            )[0] as HTMLDivElement
            this.commandBuilder = builders[this.dataset.builder as BuilderKey]

            this.resultCont.onclick = () => {
                const txt = this.resultCont.innerText
                if (!txt) {
                    return
                }
                navigator.clipboard.writeText(txt)
                this.notif.classList.remove('open')
                this.notif.classList.add('open')
                setTimeout(() => {
                    this.notif.classList.remove('open')
                }, 2000)
            }
            this.genBtn.onclick = () => {
                const data = Object.fromEntries(
                    Object.entries(this.commandBuilder.inputData).map(
                        ([k, { type }]) => {
                            const inputEl = this.getElementsByClassName(
                                `builderParam-${k}`
                            )[0] as HTMLInputElement
                            const value =
                                type === 'boolean'
                                    ? inputEl.checked
                                    : inputEl.value
                            return [k, { type, value }]
                        }
                    )
                )
                this.resultCont.innerText = this.commandBuilder.build(data)
            }
        }
    }
    customElements.define('app-commandbuilder', CommandBuilderComp)
</script>
