<footer>
    <div class="footerCont">
        {new Date().getFullYear()} &copy; LibreWarriors
        <hr />
        <small>
            <p>
                This website is free software: you can redistribute it and/or
                modify it under the terms of the GNU Affero General Public
                License as published by the Free Software Foundation, either
                version 3 of the License, or (at your option) any later version.
            </p>
            <p>
                This website is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
                Affero General Public License for more details.
            </p>
            <p>
                You should have received a copy of the GNU Affero General Public
                License <a href="/LICENSE" target="_blank"
                    >along with this website</a
                >. If not, see <a
                    href="https://www.gnu.org/licenses/agpl-3.0.html"
                    >https://www.gnu.org/licenses/agpl-3.0.html</a
                >.
            </p>
            <p>
                <a
                    target="_blank"
                    href="https://gitlab.com/librewarriors/librewarriorsWebsite"
                    >Website source code</a
                >
            </p>
            <hr />
            <p>
                Any images, logos or art referencing games and other products
                listed is an intellectual property of their respective owners.
            </p>
        </small>
    </div>
</footer>

<style lang="scss">
    footer {
        margin-top: 100px;
        background-color: var(--transparentized-bg);
        backdrop-filter: blur(10px);
        width: 100%;
        .footerCont {
            max-width: 1200px;
            margin: auto;
            padding: 12px;
        }
    }
</style>
