---
import type { GalleryData } from '../types/galleryData'
import { genUID } from '../utils/objectUID'
import BaseCard from './BaseCard.astro'
import CardGrid from './CardGrid.astro'
import Markdown from './Markdown.astro'

export interface Props {
    galleryData: GalleryData[]
}

const { galleryData } = Astro.props
const galleryDataWithUids: (GalleryData & { uid: string })[] = galleryData.map(
    (gd) => ({ ...gd, uid: genUID(gd) })
)
---

<div class="gallery">
    <CardGrid>
        {
            galleryDataWithUids.map((gallery) => (
                <section id={gallery.uid}>
                    <div
                        class="galleryPreviewCard"
                        data-galleryuid={gallery.uid}
                    >
                        <BaseCard>
                            <div class="cont">
                                <img
                                    src={gallery.pictures[0].url}
                                    alt={gallery.pictures[0].caption}
                                />
                                <h3>{gallery.title}</h3>
                                {gallery.author && (
                                    <p class="author">
                                        Author:{' '}
                                        <strong>{gallery.author}</strong>
                                    </p>
                                )}
                            </div>
                        </BaseCard>
                    </div>
                    <div class="detailBox">
                        <div
                            class="galleryDismisser"
                            data-galleryuid={gallery.uid}
                        />
                        <div class="card">
                            <BaseCard>
                                <button
                                    class="galleryCloseBtn"
                                    data-galleryuid={gallery.uid}
                                />
                                <div class="cardCont">
                                    <h2>{gallery.title}</h2>
                                    {gallery.author && (
                                        <p class="author">
                                            Author:{' '}
                                            <strong>{gallery.author}</strong>
                                        </p>
                                    )}
                                    <Markdown text={gallery.description} />
                                    <div>
                                        {gallery.pictures.map((pic) => (
                                            <figure>
                                                <img src={pic.url} />
                                                {pic.caption && (
                                                    <figcaption>
                                                        {pic.caption}
                                                    </figcaption>
                                                )}
                                            </figure>
                                        ))}
                                    </div>
                                </div>
                            </BaseCard>
                        </div>
                    </div>
                </section>
            ))
        }
    </CardGrid>
</div>

<script>
    function getGallery(galleryUID: string) {
        return document
            .getElementById(galleryUID)!
            .getElementsByClassName('detailBox')[0]
    }

    function openDetail(galleryUID: string) {
        getGallery(galleryUID).classList.add('open')
    }
    function closeDetail(galleryUID: string) {
        getGallery(galleryUID).classList.remove('open')
    }

    ;(
        document.querySelectorAll(
            '.galleryPreviewCard'
        ) as unknown as HTMLElement[]
    ).forEach((el) =>
        el.addEventListener('click', () => openDetail(el.dataset.galleryuid!))
    )
    ;(
        [
            ...document.querySelectorAll('.galleryDismisser'),
            ...document.querySelectorAll('.galleryCloseBtn'),
        ] as unknown as HTMLElement[]
    ).forEach((el) =>
        el.addEventListener('click', () => closeDetail(el.dataset.galleryuid!))
    )
</script>

<style lang="scss">
    $cardWidth: 320px;
    $cardImgHeight: 150px;

    .gallery {
        .galleryPreviewCard {
            cursor: pointer;
            width: $cardWidth;
            .cont {
                position: relative;
                h3 {
                    margin-top: 6px;
                    margin-bottom: 6px;
                }
                .author {
                    font-size: 0.8em;
                }
                img {
                    position: relative;
                    top: -24px;
                    left: -32px;
                    right: -48px;
                    border-radius: var(--radius) var(--radius) 0 0;
                    object-fit: cover;
                    width: $cardWidth;
                    height: $cardImgHeight;
                }
            }
        }
        .detailBox {
            z-index: 99999;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            visibility: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            &.open {
                visibility: visible;
            }
            .galleryDismisser {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 99;
                cursor: pointer;
                background-color: var(--transparentized-bg);
            }
            .card {
                padding: 0 24px;
                position: fixed;
                z-index: 999;
                width: 100%;
                max-width: 1200px;
                top: 90px;
                bottom: 48px;
                box-sizing: border-box;
                .cardCont {
                    margin-top: 48px;
                    width: 100%;
                    overflow-y: auto;
                    box-sizing: border-box;
                }
                .galleryCloseBtn {
                    cursor: pointer;
                    position: fixed;
                    top: 12px;
                    right: 12px;
                    border: 1px solid var(--foreground);
                    background-color: var(--background);
                    color: var(--foreground);
                    border-radius: 100%;
                    width: 42px;
                    height: 42px;
                    transition-property: filter, opacity;
                    transition-duration: 0.15s;
                    transition-timing-function: ease-in-out;
                    &::before {
                        content: '';
                        width: 18px;
                        height: 18px;
                        display: block;
                        margin: auto;
                        background-image: url('/icons/close.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    &:hover {
                        filter: invert(1);
                        opacity: 0.8;
                    }
                }
                figure {
                    img {
                        display: block;
                        max-width: 100%;
                        border-radius: var(--radius);
                        box-shadow: var(--shadow);
                    }
                }
            }
        }
    }
</style>
