---
import type { CardData } from '../types/cardData'
import BaseCard from './BaseCard.astro'
import Markdown from './Markdown.astro'

export interface Props extends CardData {}

const { title, icon, description, links = [], image } = Astro.props
---

<div class="gamecard">
    <BaseCard background={image} hoverZoom={true}>
        <div class="titleBox">
            {icon && <img class="icon" src={icon} />}
            <h4 class="title">{title}</h4>
        </div>
        <div class="desc">
            <Markdown text={description} />
        </div>
        <div class="btnBox">
            {
                links.map((link) => (
                    <>
                        <a target="_blank" href={link.url} class="btn">
                            {link.label}
                        </a>
                    </>
                ))
            }
        </div>
    </BaseCard>
</div>

<style lang="scss">
    @use '../styles/button.scss' as *;
    .gamecard {
        width: 320px;
        min-height: 200px;
        .titleBox {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 6px;
            h4 {
                margin: 0;
                font-size: 1.3em;
            }
            .icon {
                width: 24px;
                height: 24px;
            }
        }
        .desc {
            flex-grow: 1;
            text-align: justify;
            font-size: 0.95em;
        }
        .btnBox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 6px;
            .btn {
                @include LWButton;
            }
        }
    }
</style>
