---
import { navbarLinks } from '../data/navbar'
export interface Props {
    withSidebar?: boolean
}
const { withSidebar = false } = Astro.props
---

<nav>
    <ul id="navList">
        {
            navbarLinks.map(({ url, label }) => (
                <li>
                    <a href={url}>{label}</a>
                </li>
            ))
        }
    </ul>
    {withSidebar && <button id="sidebarBtn" />}
    <span class="mobileSpacer"></span>
    <button id="menuBtn"></button>
</nav>
<div class="spacer"></div>

<script>
    const navList = document.getElementById('navList')!
    const sidebar = document.getElementById('sidebar')

    document.getElementById('menuBtn')!.addEventListener('click', () => {
        navList.classList.toggle('open')
        sidebar?.classList.remove('open')
    })
    document.getElementById('sidebarBtn')?.addEventListener('click', () => {
        sidebar!.classList.toggle('open')
        navList.classList.remove('open')
    })
</script>

<style lang="scss">
    @use '../styles/vars.scss' as *;
    @use '../styles/menuList.scss' as *;
    nav {
        z-index: 9999999;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: calc(51px + 1rem);
        font-size: 1rem;
        background-color: var(--transparentized-bg);
        backdrop-filter: blur(10px);
        box-shadow: var(--shadow);
        justify-content: center;
        &,
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .mobileSpacer {
            display: none;
            flex-grow: 1;
            @media (screen and max-width: $mobileWidth) {
                display: block;
            }
        }
        ul {
            max-width: 1200px;
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                a {
                    padding: 24px 32px;
                    display: block;
                    text-decoration: none;
                    background-color: transparent;
                    transition-property: color, background-color;
                    transition-duration: 0.15s;
                    transition-timing-function: ease-in-out;
                    &:hover {
                        color: var(--foreground);
                        background-color: var(--accent);
                    }
                }
            }
            @media (screen and max-width: $mobileWidth) {
                @include menuList;
                display: none;
                position: absolute;
                top: 90px;
                right: 24px;
                width: 180px;
                &.open {
                    display: flex;
                }
            }
        }
        #menuBtn,
        #sidebarBtn {
            margin: 0 24px;
            width: 32px;
            height: 32px;
            background: transparent;
            cursor: pointer;
            padding: 0;
            border: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &::before {
                content: '';
                background-image: url('/icons/dots.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 24px;
                height: 24px;
                display: block;
            }
            display: none;
            @media (screen and max-width: $mobileWidth) {
                display: flex;
            }
        }
        #sidebarBtn::before {
            background-image: url('/icons/hamburger.svg');
        }
    }
    .spacer {
        margin-top: 72px;
    }
</style>
