---
import type { Link } from '../types/link'

export interface Props {
    links: Link[]
}

const { links } = Astro.props
---

<div class="sidebarLayout">
    <aside id="sidebar">
        <nav>
            <ul>
                {
                    links.map((link) => (
                        <li>
                            <a href={link.url}>
                                {link.icon && (
                                    <img class="icon" src={link.icon} />
                                )}
                                {link.label}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </aside>
    <div class="notSidebar"><slot /></div>
</div>
<style lang="scss">
    @use '../styles/menuList.scss' as *;
    @use '../styles/vars.scss' as *;
    $sidebarWidth: 250px;
    .sidebarLayout {
        .notSidebar {
            margin-left: #{$sidebarWidth + 24px};
        }
        aside {
            width: $sidebarWidth;
            z-index: 100;
            position: fixed;
            top: 90px;
            left: 24px;
            transition: left 0.15s ease-in-out;
            nav {
                width: 100%;
                ul {
                    width: 100%;
                    @include menuList;
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    background-color: var(--transparentized-bg);
                }
            }
        }
        @media (screen and max-width: $mobileWidth) {
            .notSidebar {
                margin-left: 0;
            }
            aside {
                left: #{- $sidebarWidth - 24px};
                &.open {
                    left: 24px;
                }
            }
        }
    }
</style>
