---
import FooterComp from '../components/FooterComp.astro'
import Navbar from '../components/Navbar.astro'

export interface Props {
    title: string
    backgroundImg?: string
    withSidebar?: boolean
}

const {
    title,
    backgroundImg = '/img/north-pad-storm-point.jpg',
    withSidebar,
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        style={backgroundImg
            ? `background-image: linear-gradient(
            to bottom,
            var(--transparentized-bg),
            var(--transparentized-bg)
    ), url('${backgroundImg}');`
            : 'background: var(--background)'}
    >
        <div class="bodyWrapper">
            <Navbar {withSidebar} />
            <slot />
        </div>
        <FooterComp />
    </body>
</html>
<style is:global lang="scss">
    @use '../styles/vars.scss' as *;
    :root {
        --accent: #{$accent};
        --accentDarker: #{$accentDarker};
        --background: #{$background};
        --foreground: #{$foreground};
        --highlightBackground: #{$highlightBackground};
        --transparentized-bg: #{$transparentizedBg};
        --shadow: #{$shadow};
        --radius: #{$radius};
        --btnRadius: #{$btnRadius};
    }
    html {
        scroll-behavior: smooth;
    }
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: system-ui, sans-serif;
        color: $foreground;
    }
    body {
        min-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .bodyWrapper {
        min-height: 100vh;
    }
    pre,
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    a {
        color: var(--accent);
    }
    main {
        margin: auto;
        padding: 24px;
        max-width: 1200px;
    }
</style>
